@model Shop_Shoes.Models.Item

@{
    ViewBag.Title = "EditItem";
    Layout = "~/Views/Shared/_MyLayoutPage.cshtml";
}
@using (Html.BeginForm("EditItem","Admin",FormMethod.Post,new { @enctype="multipart/form-data"}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <p style="font-family:'Times New Roman', Times, serif;font-size:20px;color:red;">Thông Tin Sửa</p>
        <hr />
        <div class="row">
            <div class="col-md-5">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.IdItem)

                <div class="form-group" style="margin-top:3px;">
                    Tên Sản Phẩm
                    @Html.EditorFor(model => model.Name_Item, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name_Item, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group" style="margin-top:3px;">
                    Xuất Sứ

                    @Html.EditorFor(model => model.Made_in, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Made_in, "", new { @class = "text-danger" })

                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group" style="margin-top:3px;">
                    Kích Cỡ
                    @Html.EditorFor(model => model.Size, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Size, "", new { @class = "text-danger" })


                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group" style="margin-top:3px;">
                    Màu Sắc
                    @Html.EditorFor(model => model.Color, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Color, "", new { @class = "text-danger" })

                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group" style="margin-top:3px;">
                    Số Lượng
                    @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })

                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group" style="margin-top:3px;">
                    Đơn Giá
                    @Html.EditorFor(model => model.cost, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.cost, "", new { @class = "text-danger" })


                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group" style="margin-top:3px;">
                    Thể Loại<br>
                    <input type="text" value="@ViewBag.NameType" name="NameType" style="width:200px;height:40px; border-radius:5px;"/>
                    @*@Html.EditorFor(model => model.Id_Type, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Id_Type, "", new { @class = "text-danger" })*@

                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group" style="margin-top:3px;">
                    Phong cách<br>
                    <input type="text" value="@ViewBag.NameStyle" name="NameStyle"  style="width:200px;height:40px; border-radius:5px;"/>
                    @*@Html.EditorFor(model => model.IdStyle, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.IdStyle, "", new { @class = "text-danger" })*@

                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group" style="margin-top:3px;">
                    Đường Dẫn Ảnh:@Model.linkImg
                    @*@Html.EditorFor(model => model.linkImg, new { htmlAttributes = new { } })
                    @Html.ValidationMessageFor(model => model.linkImg, "", new { @class = "text-danger" })*@
                    <input type="file" name="fileUpload" style="border-radius:5px;" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <div class="form-group" style="margin-top:15px;">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
            <div class="col-md-1" style="margin-top:15px;">
                <div>
                    <button class="btn btn-primary" style="height:38px;" onclick="Messager()"><a href="#"><p style="color:white;">Back</p></a></button>
                </div>
            </div>
        </div>
    </div>
}
<p id="message"></p>
<script>
    function Messager() {
        document.getElementById("message").getElementById = window.alert("Sửa thành công sản phẩm " +@ViewBag.Name);
    }
</script>

